div#evCal_scrollContainer {
	overflow: hidden;
	height: 62px;
	position: relative;
	cursor: move;
	margin: auto auto 1em;
}

div#evCal_controlContainer {
	width: 100%;
}

div#evCal_calContainer {
	overflow-x: scroll;
	height: 75px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table#evCal_calendar {
	empty-cells: show;
	border-collapse: collapse;
	border-spacing: 0;
}

table#evCal_calendar td {
	padding: 0;
}

.border-full {
	border: 1px solid #ddd;	
	border-radius: 4px;
}

.border-right {
	border-right: 1px solid #aaaaaa;
}

table#evCal_calendar tr td:last-child {
	border-right: none;
}

table#evCal_calendar td.month-cell {
	text-align: left;
	font-family: sans-serif;
	font-size: 1em;
	padding: 4px 0 4px 0px;
	background-color: #EFE6DB;
	border-bottom: 1px solid;
	border-bottom-color: #ddd;
}

table#evCal_calendar td.month-cell span {
	white-space: nowrap;
	padding:0 4px;
}

table#evCal_calendar td.event-cell {
	text-align: center;
	font-family: sans-serif;
	font-size: .7em;
	padding: 4px 0 4px 0;
	min-width: 75px;
	background-size: 94px 30px;
	background: #F5F5F5 no-repeat -14px 0px;
}

/* Regel fuer Wochentag in Event Zelle */
table#evCal_calendar td.event-cell span:first-child {
	font-size: 1.5em;		
	float: left;	
	width:46%;
	text-align:right;
}

/* Regel fuer Datum in Event Zelle */
table#evCal_calendar td.event-cell span:last-child {
	font-size: .9em;
	float: right;		
	margin-top: 6px;
	width:45%;
	text-align:left;
}

/* heutiger Tag mit weissem Hintergrund */
table#evCal_calendar  td.today {
	background-color: white;
}

/* alle span Elemente in today Zelle fett */
table#evCal_calendar td.today span {
	font-weight: bold;		
}

/* Wochenendtage fett und groesser */
table#evCal_calendar td.sunday span {
	font-weight: bold;
	color: lightgrey;
	font-style: italic;
	font-size: 1.7em;
}

/* Tabelle mit Blättern-Controls */
table#evCal_navControls {
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

/* Abstand von 16px links und rechts von jedem Blättern-Button */
table#evCal_navControls td {
	padding: 0 16px;
	text-align: center;
}

/* Blättern-Buttons schwarz und mit Pointer anzeigen */
table#evCal_navControls td a {
	cursor: pointer;
	color: black;
}

